@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url('./fonts/Raleway-Medium.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url('./fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
}


:root {
    --vp-c-brand: rgb(248, 24, 143);
    --vp-c-brand-light: rgb(228, 56, 148);
    --vp-c-brand-lighter: rgb(227, 106, 171);
    --vp-c-brand-dark: rgb(188, 0, 100);
    --vp-c-brand-darker: rgb(163, 1, 88);
  
    --vp-c-sponsor: #fd1d7c;

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
    --vp-font-family-base: 'Raleway';
    --vp-font-family-mono: 'Raleway';
}
